# Основной фреймворк для асинхронного бота
aiogram==3.1.1
# Асинхронный драйвер для работы с PostgreSQL
asyncpg==0.28.0
# Для загрузки переменных окружения (для локального запуска)
python-dotenv==1.0.0
# Для Web Scraping (отслеживание цен)
beautifulsoup4==4.12.2
# Для асинхронных HTTP-запросов (погода, AI API)
aiohttp==3.8.5
